<div class="view-home">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success">Tudo ok!</div>
            </div>
        </div>
    </div>
</div>