.swal-title {
  color: $brand-primary;
}

.swal-footer {
  background-color: $gray-lightest;
  margin-top: 32px;
  border-top: 1px solid $gray-lighter;
  overflow: hidden;
}

.swal-button {
  @extend .btn;
}

.swal-button--confirm{
  @extend .btn-success;
}

.swal-button--cancel{
  @extend .btn-danger;
}

.swal-button--warning{
  @extend .btn-warning;
}

.swal-button--info{
  @extend .btn-info;
}